.row {
	width: 100%;
	display: grid;
	grid-template-columns: 1.4fr 0.4fr 0.4fr 0.1fr;
	position: relative;
	justify-items: start;
	align-items: center;
	font-weight: 400;
}

.rowInfo {
	display: flex;
	width: 100%;
	align-items: center;
	gap: 10px;
}

.completed {
	font-style: italic;
	text-decoration: line-through;
	opacity: 0.5;
}

.grip {
	opacity: 0.2;
}

.grip:hover {
	opacity: 1;
}

.delete {
	opacity: 0.5;
	transition: opacity 500ms;
}

.delete:hover {
	opacity: 1;
}
